@import './Main.scss';

.location{
    .card{
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        border: 0;
    }
    .card-body{
        i,span, p{
            font-size: 14px;
        }
    }
}